<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcoder.community.dao.DiscussPostMapper">

<!--    List<DiscussPost> selectDiscusPosts(int userId, int offset, int limit);-->
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <!--    List<DiscussPost> selectDiscusPosts(int userId, int offset, int limit);-->
    <select id="selectDiscusPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

<!--    int selectDiscussPostRows(@Param("userId") int userId);-->
    <select id="selectDiscussPostRows" resultType="int">
        select count(*)
        from discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

<!--    Page<DiscussPost> selectDiscussPostsPage(@Param("page") Page<DiscussPost> page, @Param("userId") int userId);-->
    <select id="selectDiscussPostsPage" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId !=0 ">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
    </select>

</mapper>